{{- define "app" -}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internal Server Error</title>
    <link rel="stylesheet" href="{{static "/bulma/bulma.min.css"}}">
    <link rel="stylesheet" href="{{static "/style.css"}}">
  </head>
  <body>

    <section class="section">
      <div class="container">
        Internal Server Error
        <pre>{{.Data.error}}</pre>                                                                                                                │tp://localhost:8888
        <pre>{{.Data.stacktrace}}</pre>
      </div>
    </section>

  </body>
</html>
{{-end-}}
