{{define "title"}}{{t "Log In"}}{{end}}

{{define "content"}}
<div class="columns is-centered">
  <div class="column is-narrow is-two-fifths">
    <form method="POST" action="/login" class="box">
      {{csrf}}
      <div class="field">
        <label class="label">{{t "Email"}}</label>
        <div class="control">
          <input class="input {{if index .Errors "email"}}is-danger{{end}}" name="email" placeholder="{{t "Email"}}" value="john@example.com">
        </div>
        <p class="help is-danger">{{index .Errors "email"}}</p>
      </div>
      <div class="field">
        <label class="label">{{t "Password"}}</label>
        <div class="control">
          <input class="input {{if index .Errors "password"}}is-danger{{end}}" type="password" name="password" placeholder="{{t "Password"}}" value="pass123">
        </div>
        <p class="help is-danger">{{index .Errors "password"}}</p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">{{t "Log In"}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{end}}
